<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Keyword</servlet-name>
        <servlet-class>com.coolioasjulio.topiccloud.servlets.KeywordServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TwitterProfilePic</servlet-name>
        <servlet-class>com.coolioasjulio.topiccloud.servlets.TwitterProfilePicServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TwitterNameSuggestions</servlet-name>
        <servlet-class>com.coolioasjulio.topiccloud.servlets.TwitterNameSuggestionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Keyword</servlet-name>
        <url-pattern>/api/keywords</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TwitterProfilePic</servlet-name>
        <url-pattern>/api/twitterpfp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TwitterNameSuggestions</servlet-name>
        <url-pattern>/api/twittersuggestions</url-pattern>
    </servlet-mapping>
</web-app>